.directory
.DS_Store
cmake_install.cmake
CMakeFiles/
CMakeCache.txt
Makefile
NMakefile
Thumbs.db
*.asm
*.cbp
*.exe
*.filters
*.o
*.obj
*.out
*.sln
*.smc
*.suo
*.user
*.vcproj
*.vcxproj
*.workspace
*.xcodeproj
